<upf-filters-container
  direction="row"
  [filterKey]="filterKey"
  [defaultFilters]="filtersForm.getRawValue()"
  (filtersChange)="onFiltersChange($event)"
  data-cy="filter"
>
  <form [formGroup]="filtersForm" class="tw-flex tw-flex-col tw-gap-md sm:tw-flex-row">
    <mat-form-field floatLabel="always">
      <mat-label>{{ 'Common.Filters.Name.Caption' | translate }}</mat-label>

      <input
        matInput
        formControlName="name"
        [placeholder]="'Common.Filters.Name.Placeholder' | translate"
        data-cy="filter-Name"
      />

      <mat-icon [svgIcon]="icons.search" matSuffix data-cy="filter-suffix-Search"></mat-icon>
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>{{ 'Common.Filters.Phone.Caption' | translate }}</mat-label>

      <input
        type="tel"
        matInput
        formControlName="phone"
        mask="000 (00) 000 00 00"
        [placeholder]="'Common.Filters.Phone.Placeholder' | translate"
        data-cy="filter-Phone"
      />

      <mat-icon [svgIcon]="icons.search" matSuffix data-cy="filter-suffix-Search"></mat-icon>
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>{{ 'BlockedList.Blocking' | translate }}</mat-label>

      <mat-select formControlName="block_status">
        @for (item of blockStatuses; track item) {
          <mat-option [value]="item">
            {{ 'BlockedList.Drivers.Filters.' + item | translate }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>

  <ng-template upfFiltersActionButton>
    <ng-content></ng-content>
  </ng-template>
</upf-filters-container>
