<ng-container *upfLet="selectedFleetId$ | async">
  @if (calculationPeriods.length > 0 && (bonusProgram$ | async); as program) {
    <upf-branding-bonus-program-old
      [specification]="program.specification"
      [currentCalculation]="filtersForm.get('calculation').value"
      (brandingTypeChanged)="onFiltersChange($any(filtersForm.value), $event)"
      (toggleBrandingType)="toggleBrandingTypeDropdown($event)"
      (toggleBrandingPrograms)="toggleBrandingPrograms($event)"
      #brandingBonusProgram
    ></upf-branding-bonus-program-old>
  }

  <ng-container *upfLet="brandingBonusPrograms$ | async as items">
    <section class="sm:tw-flex sm:tw-items-center sm:tw-justify-between">
      <upf-filters-container
        direction="row"
        [filterKey]="filterKey"
        [defaultFilters]="filtersForm.getRawValue()"
        (filtersChange)="onFiltersChange($event)"
        (filtersReset)="resetFiltersForm()"
      >
        <form [formGroup]="filtersForm" class="tw-flex-col tw-flex tw-gap-md sm:tw-flex-row">
          <mat-form-field>
            <mat-label>{{ 'Common.Filters.Period.Label' | translate }}</mat-label>

            <mat-select formControlName="calculation" [compareWith]="comparePeriodsFn" data-cy="bonus-filter-by-period">
              @for (item of calculationPeriods; track item.calculation_id) {
                <mat-option [value]="item">
                  {{ item.period.range | min | seconds2Date }} - {{ item.period.range | max | seconds2Date }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <upf-vehicle-autocomplete
            formControlName="vehicle_id"
            [fleetId]="fleetId"
            data-cy="bonus-filter-by-vehicle"
          ></upf-vehicle-autocomplete>
        </form>

        <ng-template #exportBtn upfFiltersActionButton>
          <upf-loader-button
            class="tw-w-full sm:!tw-py-1"
            [disabled]="!items?.length"
            [loading]="isDownloading$ | async"
            [dataCY]="'bonus-programs-export'"
            (handlerClick)="handleExportClick()"
          >
            <div class="tw-flex tw-gap-2 tw-justify-center tw-items-center">
              <mat-icon svgIcon="i-csv"></mat-icon>
              <span>{{ 'Common.Buttons.Export.CSV' | translate }}</span>
            </div>
          </upf-loader-button>
        </ng-template>
      </upf-filters-container>

      <div class="tw-hidden sm:tw-block sm:tw-min-w-[146px]">
        <ng-template [ngTemplateOutlet]="exportBtn" [ngTemplateOutletContext]="{ $implicit: true }"></ng-template>
      </div>
    </section>

    <ng-container *upfLet="(bonusProgram$ | async)?.specification as specification">
      @if (specification && items && items.length > 0 && calculationPeriods.length > 0) {
        <upf-branding-bonus-programs-list-old
          [items]="items"
          [specification]="specification"
          (cdkScrolled)="onLoadNext()"
        ></upf-branding-bonus-programs-list-old>
      } @else {
        <upf-empty-state [state]="emptyState.NO_BONUS_DATA"></upf-empty-state>
      }
    </ng-container>
  </ng-container>
</ng-container>
