<div class="tw-flex tw-justify-between tw-items-center tw-p-5 tw-border-b tw-border-b-neutral-fog">
  <div class="tw-text-accent-mint-light">{{ 'Auth.Login.PasswordRecoveryLink' | translate }}</div>

  <button
    mat-icon-button
    matDialogClose
    class="close-btn"
    (click)="reportEvent(analyticsEvent.RESET_PASSWORD_DIALOG_CLOSE_ICON)"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="tw-p-md tw-grid tw-gap-md tw-text-neutral-graphite tw-border-b tw-border-b-neutral-fog tw-text-base">
  <div>
    {{ 'Auth.Login.ResetPasswordDialog.Message' | translate }}
  </div>

  <div>{{ 'Auth.Login.ResetPasswordDialog.Question' | translate }}</div>
</div>

<div class="tw-p-md tw-flex tw-justify-between">
  <button
    mat-flat-button
    matDialogClose
    color="accent"
    (click)="reportEvent(analyticsEvent.RESET_PASSWORD_DIALOG_CLOSE)"
  >
    {{ 'Modals.Confirmation.Decline' | translate }}
  </button>

  <button
    mat-flat-button
    [matDialogClose]="true"
    color="primary"
    (click)="reportEvent(analyticsEvent.RESET_PASSWORD_DIALOG_CONFIRM)"
  >
    {{ 'Auth.Login.ResetPasswordDialog.SendBtn' | translate }}
  </button>
</div>
