<ng-container *upfLet="selectedTabIndex$ | async as tabIndex">
  <mat-tab-group
    *upfLet="isMobileView$ | async as isMobileView"
    class="flex-grow-1"
    [selectedIndex]="tabIndex"
    (selectedIndexChange)="handleFragmentChange($event)"
    animationDuration="400ms"
    color="primary"
  >
    <mat-tab>
      <span *matTabLabel>
        {{ 'Couriers.CourierDetails.Tabs.Statistics' | translate }}
      </span>

      <ng-template matTabContent>
        <upf-courier-statistics-container
          [fleetId]="selectedFleetId"
          [courierId]="selectedCourierId"
        ></upf-courier-statistics-container>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <span *matTabLabel>
        {{ 'Couriers.CourierDetails.Tabs.ExpandedFilters' | translate }}
      </span>

      <ng-template matTabContent>
        <upf-courier-products></upf-courier-products>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <span *matTabLabel>
        {{ 'Couriers.CourierDetails.Tabs.History' | translate }}
      </span>

      <ng-template matTabContent>
        <upf-courier-history-container
          [fleetId]="selectedFleetId"
          [courierId]="selectedCourierId"
          [tabIndex]="tabIndex"
        ></upf-courier-history-container>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <span *matTabLabel [attr.data-cy]="'courier-details-tabs-photo'">
        {{ 'Drivers.Drivers.Details.Tabs.Photo' | translate }}
      </span>

      <ng-template matTabContent>
        <upf-courier-photos [courierId]="selectedCourierId" [isMobileView]="isMobileView"></upf-courier-photos>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <span *matTabLabel>
        {{ 'Couriers.CourierDetails.Tabs.Deliveries' | translate }}
      </span>

      <ng-template matTabContent>
        <upf-courier-deliveries
          [fleetId]="selectedFleetId"
          [courierId]="selectedCourierId"
          [tabIndex]="tabIndex"
        ></upf-courier-deliveries>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <span *matTabLabel>
        {{ 'Couriers.CourierDetails.Tabs.Restrictions' | translate }}
      </span>

      <ng-template matTabContent>
        <upf-courier-restrictions
          [cashRestrictionSettings]="cashRestrictionSettings$ | async"
          (updateRestriction)="updateCourierRestriction($event)"
          (removeRestriction)="removeCourierRestriction($event)"
        ></upf-courier-restrictions>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ng-container>
