:host {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  background-color: #f99b58;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  50% {
    box-shadow: 0 0 0 4px #f99b5850;
  }
}
