@let isMobileView = isMobileView$ | async;

<div class="sm:tw-shadow-sm tw-rounded">
  <mat-accordion displayMode="flat" class="tw-grid tw-gap-2 sm:tw-block">
    @if (!isMobileView) {
      <div class="panel-header main">
        <div data-cy="vehicle">{{ 'Bonuses.VehicleCommissions.List.Vehicle' | translate }}</div>
        <div data-cy="program">{{ 'Bonuses.Commissions.List.Program' | translate }}</div>
        <div data-cy="progress" class="tw-flex tw-gap-1 tw-items-center tw-text-neutral-granit">
          {{ 'Bonuses.Commissions.List.Progress' | translate }}
          <upf-commission-programs-progress-icon></upf-commission-programs-progress-icon>
        </div>
        <div data-cy="period">{{ 'Bonuses.Commissions.List.Period' | translate }}</div>
        <div class="tw-grid">
          <span data-cy="driver">{{ 'Bonuses.VehicleCommissions.List.Driver' | translate }}</span>
          <span data-cy="driver-signal" class="tw-text-neutral-granit">
            {{ 'Bonuses.Commissions.List.Signal' | translate }}
          </span>
        </div>
        <div data-cy="rating">{{ 'Bonuses.Commissions.List.RatingAndRequirements' | translate }}</div>
        <div data-cy="orders-completed">{{ 'Bonuses.Commissions.List.OrdersCompleted' | translate }}</div>
        <div data-cy="commission">{{ 'Bonuses.Commissions.List.CurrentCommission' | translate }}</div>
        <div class="tw-flex tw-flex-col">
          <span data-cy="used-profit-budget">{{ 'Bonuses.Commissions.List.UsedProfitBudget' | translate }}</span>
          <div data-cy="profit-budget" class="tw-flex tw-gap-1 tw-items-center tw-text-neutral-granit">
            {{ 'Bonuses.Commissions.List.ProfitBudget' | translate }}
            <div class="tw-text-accent-mint-light -tw-mt-4">
              <mat-icon
                [svgIcon]="icons.info"
                [ngxTippy]="profitBudgetTooltipTpl"
                data-cy="profit-budget-tooltip"
              ></mat-icon>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    }

    @for (item of programs(); track $index) {
      <mat-expansion-panel
        #panel
        hideToggle
        class="data-panel"
        data-cy="active-program-item"
        (afterExpand)="reportAnalytics(analyticsEventType.ACTIVE_VEHICLE_COMMISSION_PROGRAM_TOGGLE, true, item)"
        (afterCollapse)="reportAnalytics(analyticsEventType.ACTIVE_VEHICLE_COMMISSION_PROGRAM_TOGGLE, false, item)"
      >
        <mat-expansion-panel-header
          class="!tw-p-0 !tw-py-2 tw-cursor-default hover:!tw-bg-white"
          expandedHeight="56px"
          collapsedHeight="56px"
        >
          <ng-container
            [ngTemplateOutlet]="isMobileView ? mobileViewPanelHeader : desktopViewPanelHeader"
            [ngTemplateOutletContext]="{ $implicit: item, expanded: panel.expanded }"
          ></ng-container>
        </mat-expansion-panel-header>

        <ng-container
          [ngTemplateOutlet]="isMobileView ? expandedViewMobileTpl : expandedViewDesktopTpl"
          [ngTemplateOutletContext]="{ $implicit: item }"
        ></ng-container>
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>

<ng-template #mobileViewPanelHeader let-item let-expanded="expanded">
  <div class="mobile-panel-header">
    <upf-vehicle-link
      [vehicleId]="item?.vehicle?.vehicle_id"
      [licensePlate]="item?.vehicle?.license_plate"
      [make]="item?.vehicle?.make"
      [model]="item?.vehicle?.model"
    ></upf-vehicle-link>

    <div>
      <div class="tw-flex tw-justify-end tw-gap-2">
        <upf-commission-progress-bar
          theme="green"
          [inactive]="item?.driver?.rating | ratingLessRequirement: item.min_rating"
          [completedOrders]="item.current_completed_orders"
          [commissions]="item.commissions"
        ></upf-commission-progress-bar>

        @if (item?.driver?.rating | ratingLessRequirement: item.min_rating) {
          <div class="tw-flex tw-items-center tw-text-accent-coral-light">
            <button (click)="$event.stopPropagation()">
              <mat-icon
                [svgIcon]="icons.info"
                [ngxTippy]="'Bonuses.Commissions.Errors.RequirementsNotDone' | translate"
              ></mat-icon>
            </button>
          </div>
        }
      </div>

      <div class="tw-text-end tw-text-sm tw-text-neutral-granit">
        {{ 'Bonuses.Commissions.List.OrdersCompleted' | translate }}
      </div>
    </div>

    <div class="expand-icon" [ngClass]="{ expanded: expanded }">
      <mat-icon>expand_more</mat-icon>
    </div>
  </div>
</ng-template>

<ng-template #desktopViewPanelHeader let-item let-expanded="expanded">
  <div class="panel-header">
    <upf-vehicle-link
      [vehicleId]="item?.vehicle?.vehicle_id"
      [licensePlate]="item?.vehicle?.license_plate"
      [make]="item?.vehicle?.make"
      [model]="item?.vehicle?.model"
    ></upf-vehicle-link>

    <div class="tw-break-words" data-cy="program-name">{{ item.program_name }}</div>
    <div class="tw-break-words" data-cy="progress-value">
      {{
        item?.always_add_progress_if_satisfied
          ? ('Bonuses.Commissions.List.ProgressAlways' | translate)
          : ('Bonuses.Commissions.List.ProgressActive' | translate)
      }}
    </div>

    <upf-commission-program-period [programPeriod]="item.period"></upf-commission-program-period>

    <div class="tw-grid">
      <span class="tw-text-base tw-font-medium">
        @if (item.driver && (item.driver?.first_name || item.driver?.last_name)) {
          <a
            data-cy="driver-full-name-link"
            class="tw-font-medium hover:tw-underline focus:tw-underline tw-break-words"
            [routerLink]="['/', corePaths.WORKSPACE, corePaths.DRIVERS, driverPaths.DETAILS, item.driver?.driver_id]"
          >
            {{ item.driver.last_name }} {{ item.driver.first_name }}
          </a>
        } @else {
          <span class="text-small">{{ 'Bonuses.VehicleCommissions.List.VehicleWithoutDriver' | translate }}</span>
        }
      </span>
      <span class="text-small" data-cy="driver-signal">{{ item.driver?.signal }}</span>
    </div>

    <div class="tw-flex tw-items-center">
      <upf-rating size="sm" data-cy="rating-icon"></upf-rating>
      <span
        [class.tw-text-accent-coral-light]="item?.driver?.rating | ratingLessRequirement: item.min_rating"
        data-cy="rating-value"
      >
        @if (item?.driver && (item.driver?.first_name || item.driver?.last_name)) {
          {{ item?.driver?.rating / 100 | number: '1.2-2' }}/{{ item.min_rating | number: '1.2-2' }}
        } @else {
          {{ item.min_rating | number: '1.2-2' }}
        }
      </span>
    </div>

    <div
      class="tw-flex tw-flex-row tw-justify-between tw-items-center tw-self-end sm:tw-self-center tw-w-auto lg:tw-w-[110px] tw-gap-1"
    >
      <upf-commission-progress-bar
        data-cy="progress-bar"
        theme="green"
        [inactive]="item?.driver?.rating | ratingLessRequirement: item.min_rating"
        [completedOrders]="item.current_completed_orders"
        [commissions]="item.commissions"
      ></upf-commission-progress-bar>

      @if (item?.driver?.rating | ratingLessRequirement: item.min_rating) {
        <div class="tw-flex tw-items-center tw-text-accent-coral-light" data-cy="driver-rating-err-requirements">
          <mat-icon
            [svgIcon]="icons.info"
            [ngxTippy]="'Bonuses.Commissions.Errors.RequirementsNotDone' | translate"
          ></mat-icon>
        </div>
      } @else {
        <div class="tw-w-[20px]"></div>
      }
    </div>

    <div data-cy="current-commission">
      {{ item.current_completed_orders | currentCommissionFromRange: item.commissions }}%
    </div>

    <div class="tw-grid">
      <div class="tw-text-accent-mint-light" data-cy="used-profit-budget-value">{{ item.used_profit_budget | upfMoney: currency() }}</div>
      <span class="text-small" data-cy="profit-budget-value">
        {{ item.profit_budget | upfMoney: currency() }}
      </span>
    </div>

    <mat-panel-description [ngClass]="{ expanded: expanded }" data-cy="expanded-icon">
      <mat-icon>expand_more</mat-icon>
    </mat-panel-description>
  </div>
</ng-template>

<ng-template #expandedViewMobileTpl let-item>
  <div class="expanded-view">
    <div class="tw-flex tw-gap-4">
      <div class="expanded-view-col">
        <div class="expanded-view-title">
          {{ 'Bonuses.VehicleCommissions.List.Driver' | translate }}
        </div>
        <span class="tw-text-base tw-font-medium">
          @if (item.driver && (item.driver?.first_name || item.driver?.last_name)) {
            <a
              data-cy="driver-full-name-link"
              class="tw-font-medium hover:tw-underline focus:tw-underline tw-break-words"
              [routerLink]="['/', corePaths.WORKSPACE, corePaths.DRIVERS, driverPaths.DETAILS, item.driver?.driver_id]"
            >
              {{ item.driver.last_name }} {{ item.driver.first_name }}
            </a>
          } @else {
            <span class="text-small">{{ 'Bonuses.VehicleCommissions.List.VehicleWithoutDriver' | translate }}</span>
          }
        </span>
      </div>

      <div class="expanded-view-col">
        <div class="expanded-view-title">
          {{ 'Bonuses.Commissions.List.Signal' | translate }}
        </div>
        <div class="expanded-view-description">{{ item?.driver?.signal }}</div>
      </div>
    </div>

    <div class="tw-flex tw-gap-4">
      <div class="expanded-view-col">
        <div class="expanded-view-title">
          {{ 'Bonuses.Commissions.List.Program' | translate }}
        </div>
        <div class="expanded-view-description">{{ item.program_name }}</div>
      </div>

      <div class="expanded-view-col">
        <div class="expanded-view-title">
          {{ 'Bonuses.Commissions.List.Period' | translate }}
        </div>

        <upf-commission-program-period [programPeriod]="item.period"></upf-commission-program-period>
      </div>
    </div>

    <div class="tw-flex tw-flex-wrap tw-gap-4">
      <div class="expanded-view-col">
        <div class="expanded-view-title tw-whitespace-nowrap">
          {{ 'Bonuses.Commissions.List.UsedProfitBudget' | translate }}
        </div>
        <div class="expanded-view-description !tw-text-accent-mint-light">
          {{ item.used_profit_budget | upfMoney: currency() }}
        </div>
      </div>

      <div class="tw-flex tw-gap-1">
        <div class="expanded-view-col">
          <div class="expanded-view-title tw-whitespace-nowrap">
            {{ 'Bonuses.Commissions.List.ProfitBudget' | translate }}
          </div>
          <div class="expanded-view-description">{{ item.profit_budget | upfMoney: currency() }}</div>
        </div>

        <mat-icon
          class="tw-text-accent-mint-light tw-shrink-0 tw-mt-1"
          [svgIcon]="icons.info"
          [ngxTippy]="profitBudgetTooltipTpl"
          (mousedown)="reportAnalytics(analyticsEventType.ACTIVE_VEHICLE_COMMISSION_PROGRAM_BUDGET_TOOLTIP_CLICK)"
        ></mat-icon>
      </div>

      <div class="tw-flex tw-gap-1">
        <div class="expanded-view-col">
          <div class="expanded-view-title">{{ 'Bonuses.Commissions.List.Progress' | translate }}</div>
          <div class="expanded-view-description tw-break-words">
            {{
              item?.always_add_progress_if_satisfied
                ? ('Bonuses.Commissions.List.ProgressAlways' | translate)
                : ('Bonuses.Commissions.List.ProgressActive' | translate)
            }}
          </div>
        </div>
        <upf-commission-programs-progress-icon
          class="tw-mt-1"
          (showTooltip)="reportAnalytics(analyticsEventType.ACTIVE_VEHICLE_COMMISSION_PROGRAM_PROGRESS_TOOLTIP_CLICK)"
        ></upf-commission-programs-progress-icon>
      </div>
    </div>

    <mat-divider></mat-divider>

    <upf-vehicle-program-requirements-info-error
      [driver]="item?.driver"
      [minProgramRating]="item.min_rating"
    ></upf-vehicle-program-requirements-info-error>

    <div>
      <div class="expanded-view-description">
        {{ 'Bonuses.Commissions.List.OrdersCompleted' | translate }}:
        <span class="tw-text-accent-mint-light">{{ item.current_completed_orders }}</span>
      </div>
    </div>

    <upf-commission-orders-progress-stepper
      [completedOrders]="item.current_completed_orders"
      [commissions]="item.commissions | sortCommissions"
    ></upf-commission-orders-progress-stepper>

    <div class="tw-flex tw-flex-row tw-gap-4 tw-items-center">
      <upf-commission-progress-bar
        theme="green"
        size="md"
        [inactive]="item?.driver?.rating | ratingLessRequirement: item.min_rating"
        [completedOrders]="item.current_completed_orders"
        [commissions]="item.commissions"
      ></upf-commission-progress-bar>
    </div>

    <div class="tw-flex tw-gap-4">
      <div class="expanded-view-col">
        <div class="expanded-view-title">
          {{ 'Bonuses.Commissions.List.Indicators' | translate }}
        </div>
        <div class="expanded-view-description">{{ 'Bonuses.Commissions.List.DriverRating' | translate }}</div>
      </div>

      <div class="expanded-view-col">
        <div class="expanded-view-title">
          {{ 'Bonuses.Commissions.List.Requirements' | translate }}
        </div>
        <div class="expanded-view-description">
          {{ 'Bonuses.Commissions.List.RequirementsFrom' | translate }}
          {{ item.min_rating | number: '1.2-2' }}
        </div>
      </div>

      <div class="expanded-view-col">
        <div class="expanded-view-title">{{ 'Bonuses.Commissions.List.CurrentValue' | translate }}</div>

        @if (item?.driver && (item.driver?.first_name || item.driver?.last_name)) {
          <div
            class="expanded-view-description"
            [class.!tw-text-accent-coral-light]="item?.driver?.rating | ratingLessRequirement: item.min_rating"
          >
            {{ item?.driver?.rating / 100 | number: '1.2-2' }}
          </div>
        } @else {
          -
        }
      </div>
    </div>
  </div>
</ng-template>

<ng-template #expandedViewDesktopTpl let-item>
  <div class="expanded-view" data-cy="expanded-view-desktop">
    <div class="tw-flex tw-justify-between">
      <div class="tw-text-base">
        {{ 'Bonuses.Commissions.List.OrdersCompleted' | translate }}:
        <span class="tw-text-accent-mint-light" data-cy="current-completed-orders">
          {{ item.current_completed_orders }}
        </span>
      </div>

      <upf-vehicle-program-requirements-info-error
        [driver]="item?.driver"
        [minProgramRating]="item.min_rating"
      ></upf-vehicle-program-requirements-info-error>
    </div>

    <upf-commission-orders-progress-stepper
      data-cy="orders-progress-stepper"
      class="tw-max-w-[800px]"
      [completedOrders]="item.current_completed_orders"
      [commissions]="item.commissions | sortCommissions"
    ></upf-commission-orders-progress-stepper>

    <div class="tw-max-w-[800px] tw-flex tw-flex-row tw-gap-4 tw-items-center">
      <upf-commission-progress-bar
        data-cy="progress-bar"
        theme="green"
        size="md"
        [inactive]="item?.driver?.rating | ratingLessRequirement: item.min_rating"
        [completedOrders]="item.current_completed_orders"
        [commissions]="item.commissions"
      ></upf-commission-progress-bar>
    </div>
  </div>
</ng-template>

<ng-template #profitBudgetTooltipTpl>
  <div class="tw-flex tw-gap-2 tw-mb-2">
    <span data-cy="profit-budget-tooltip-rule1">
      {{ 'Bonuses.Commissions.List.Tooltip.UsedProfitBudget' | translate }}
    </span>
  </div>
  <div class="tw-flex tw-gap-2">
    <span data-cy="profit-budget-tooltip-rule2">{{ 'Bonuses.Commissions.List.Tooltip.ProfitBudget' | translate }}</span>
  </div>
</ng-template>
