@if (fleet$ | async; as fleet) {
  <div
    infiniteScroll
    [scrollWindow]="false"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    class="tw-h-full tw-overflow-auto"
  >
    @if (vehicle$ | async; as vehicle) {
      <div
        class="tw-flex tw-flex-col sm:tw-grid sm:tw-grid-cols-[minmax(412px,412px)_minmax(0,1fr)] sm:tw-gap-4 sm:tw-p-4"
      >
        <div class="tw-flex tw-flex-col tw-w-auto sm:tw-min-w-[412px] sm:tw-max-w-[412px]">
          <div
            class="tw-flex tw-flex-col sm:tw-min-h-[calc(100vh-72px-16px)] sm:tw-rounded-lg sm:tw-bg-neutral-white sm:tw-shadow-sm"
          >
            <div class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-gap-2">
              <div class="tw-h-12 tw-w-12 sm:tw-mt-4">
                @if (avatar$ | async; as avatar) {
                  <img
                    upfDefaultImgSrc
                    [src]="avatar.url"
                    [defaultSrc]="avatar.fallbackUrl"
                    class="tw-w-12 tw-h-12 tw-rounded-full tw-object-center tw-object-cover"
                    alt="avatar"
                  />
                }
              </div>
              <div class="tw-flex tw-flex-col tw-items-center tw-text-heading tw-gap-1">
                <span class="tw-font-medium" data-cy="license-plate">
                  {{ vehicle.license_plate }}
                </span>
                <span class="tw-text-neutral-granit tw-text-base" data-cy="make-model-year">
                  {{ vehicle.make }} {{ vehicle.model }}
                  {{ vehicle.production_year }}
                </span>
              </div>
            </div>

            <div class="tw-grid tw-gap-md tw-p-md tw-pb-0">
              @let vehicleBlocked = vehicle?.status?.value === vehicleBlockedListStatus.BLOCKED;
              @if (vehicleBlocked) {
                @let hasReason =
                  vehicle?.status?.reasons?.length && !vehicle.status.reasons.includes(vehicleListStatusReason.OTHER);

                <upf-info-panel [hideToggle]="!hasReason" [expanded]="!hasReason" color="error">
                  <ng-template upfInfoPanelTitle>{{ 'BlockedList.Cars.CarBlocked' | translate }}</ng-template>

                  <ng-template upfInfoPanelIcon>
                    <mat-icon>outlined_flag</mat-icon>
                  </ng-template>

                  @if (hasReason) {
                    @for (reason of vehicle.status.reasons; track reason) {
                      {{
                        $last
                          ? ('BlockedList.Reasons.' + reason | translate)
                          : ('BlockedList.Reasons.' + reason | translate) + ', '
                      }}
                    }
                  }
                </upf-info-panel>
              }

              @if (vehicleBlocked) {
                <upf-info-panel color="neutral">
                  {{ 'BlockedList.Reasons.VehicleProfileDataBlocked' | translate }}
                </upf-info-panel>
              }

              @if (photoControl$ | async; as photoControl) {
                <upf-vehicle-photo-control-panel
                  [photoControl]="photoControl"
                  [vehiclePhotoControl]="(vehicle$ | async)?.photo_control"
                ></upf-vehicle-photo-control-panel>
              }

              @if ((showVehicleBrandingPeriod$ | async) && brandingPeriod()) {
                <upf-vehicle-branding-period-panel
                  [brandingPeriod]="brandingPeriod()"
                  [licensePlate]="vehicle.license_plate ?? ''"
                  [isMobileView]="isMobileView$ | async"
                  (ticketSent)="onTicketSent()"
                ></upf-vehicle-branding-period-panel>
              }
            </div>

            <upf-vehicle-details-info
              [vehicle]="vehicle"
              [isVehicleBlocked]="vehicle?.status?.value === vehicleBlockedListStatus.BLOCKED"
              [accessType]="accessType$ | async"
              [vehicleCashPoint]="vehiclePointOfSale$ | async"
              [rroAvailable]="rroAvailable$ | async"
              (unlink)="handleUnlink($event)"
              (delete)="handleDelete(vehicle?.id, vehicle?.license_plate)"
              (unlinkCashPoint)="handlerUnlinkCashPoint($event)"
              class="tw-grow tw-p-4"
            ></upf-vehicle-details-info>
          </div>
        </div>

        <upf-vehicle-details-tabs
          [fleet]="fleet"
          [vehicle]="vehicle"
          [isVehicleBlocked]="vehicle?.status?.value === vehicleBlockedListStatus.BLOCKED"
          [isMobileView]="isMobileView$ | async"
          class="tw-grow sm:tw-rounded-lg sm:tw-bg-neutral-white sm:tw-shadow-sm"
        ></upf-vehicle-details-tabs>
      </div>
    }
  </div>
}
