<form [formGroup]="passwordForm" class="tw-grid" autocomplete="off">
  <mat-form-field appearance="outline" floatLabel="always" color="primary">
    <mat-label>
      {{ 'Auth.ResetPassword.NewPassword' | translate }}
    </mat-label>

    <input
      matInput
      #newInput
      cdkFocusRegionstart
      type="password"
      autocomplete="new-password"
      name="newPassword"
      formControlName="newPassword"
      (blur)="checkInputValidity('newPassword')"
    />

    <mat-icon matIconSuffix (click)="toggleInputType(newInput, $event); $event.stopPropagation()">
      {{ newInput.type === 'text' ? 'visibility' : 'visibility_off' }}
    </mat-icon>
  </mat-form-field>

  <div *upfLet="newPassword?.errors as errors" class="tw-grid tw-gap-2 tw-mt-2.5 tw-mb-md">
    @for (error of validationErrors; track error) {
      <div *upfLet="!errors || !errors[error] as valid" class="validation-text" [ngClass]="{ valid: valid }">
        <mat-icon class="material-symbols-outlined check-icon">
          {{ valid ? 'check_circle' : 'circle' }}
        </mat-icon>

        {{ 'Auth.ResetPassword.ValidationError.' + error | translate }}
      </div>
    }
  </div>

  <mat-form-field subscriptSizing="fixed">
    <mat-label>
      {{ 'Auth.ResetPassword.ConfirmPassword' | translate }}
    </mat-label>

    <input
      matInput
      #confirmInput
      type="password"
      name="confirmPassword"
      formControlName="confirmPassword"
      (blur)="checkInputValidity('confirmPassword')"
    />

    <mat-icon
      matIconSuffix
      [ngClass]="{ 'tw-pointer-events-none': newPassword.invalid }"
      (click)="toggleInputType(confirmInput, $event); $event.stopPropagation()"
    >
      {{ confirmInput.type === 'text' ? 'visibility' : 'visibility_off' }}
    </mat-icon>

    <mat-error>
      {{ 'Auth.ResetPassword.ValidationError.PasswordMismatch' | translate }}
    </mat-error>
  </mat-form-field>
</form>
