<upf-filters-container
  direction="row"
  [filterKey]="filterKey"
  [filterSubKey]="vehicleId"
  [expandable]="false"
  [defaultFilters]="filtersForm.getRawValue()"
  (filtersChange)="onFiltersChange($event.changeType)"
  class="tw-p-md"
>
  <form [formGroup]="filtersForm">
    <mat-form-field floatLabel="always" class="tw-w-full sm:tw-w-64" data-cy="vehicle-history-filter">
      <mat-label>{{ 'DriverHistory.EventType' | translate }}</mat-label>

      <mat-select formControlName="changeType">
        <mat-option value="">
          {{ 'DriverHistory.VehicleChangeType.All' | translate }}
        </mat-option>

        @for (type of historyType | keyvalue; track type) {
          <mat-option [value]="type.value" [attr.data-cy]="type.value + '-filter'">
            {{ 'DriverHistory.VehicleChangeType.' + type.value | translate }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</upf-filters-container>

@if (history$ | async; as history) {
  @if (history && history?.length) {
    <mat-accordion data-cy="vehicle-history-table" (cdkScrolled)="onLoadNext()">
      <div class="grid-header tw-sticky tw-top-0 tw-bg-white tw-z-10">
        <div data-cy="header-event-type">
          {{ 'DriverHistory.EventType' | translate }}
        </div>

        <div class="tw-hidden sm:tw-grid" data-cy="header-role">
          <span>{{ 'DriverHistory.Role' | translate }}</span>
          <span class="tw-text-neutral-granit">{{ 'DriverHistory.Author' | translate }}</span>
        </div>

        <div data-cy="header-date">
          {{ 'DriverHistory.OccurrenceDate' | translate }}
        </div>
      </div>

      @for (change of history; track trackById($index, change)) {
        <mat-expansion-panel
          [disabled]="notExpandable[change.change_type] || !change.has_additional_data"
          (opened)="getFullInfo(change.change_type, change.id, change.has_additional_data)"
          #panel
          hideToggle
          class="!tw-shadow-none !tw-rounded-none !tw-m-0 tw-border-b tw-border-b-neutral-cloud"
        >
          <mat-expansion-panel-header
            collapsedHeight="56px"
            expandedHeight="56px"
            class="!tw-pl-md !tw-pr-0"
            [ngClass]="{ '!tw-cursor-auto': panel.disabled }"
          >
            <div class="grid-header panel-header">
              <div class="tw-grid tw-gap-1" [attr.data-cy]="change.id + '-event-type'">
                <span
                  [ngClass]="{
                    'tw-text-accent-coral-light': change.change_type === historyType.BLOCKED,
                    'tw-text-accent-mint-light': change.change_type === historyType.UNBLOCKED,
                  }"
                >
                  {{ 'DriverHistory.VehicleChangeType.' + change.change_type | translate }}
                </span>
                @if (!notExpandable[change.change_type] && !change.has_additional_data) {
                  <span class="tw-text-neutral-granit tw-text-md">
                    {{ 'DriverHistory.NoAdditionalData' | translate }}
                  </span>
                }
              </div>

              <div class="tw-hidden sm:tw-grid tw-gap-1" [attr.data-cy]="change.id + '-event-initiator'">
                <span>
                  {{ change.initiator.type ? ('DriverHistory.Roles.' + change.initiator.type | translate) : '-' }}
                </span>

                @if (change.initiator.type !== initiatorType.UKLON_MANAGER) {
                  <span class="tw-text-neutral-granit tw-text-md">
                    {{ change.initiator.display_name }}
                  </span>
                }
              </div>

              <div class="tw-grid tw-gap-1" [attr.data-cy]="change.id + '-event-occurred_at'">
                <span>{{ change.occurred_at | seconds2Date }}</span>
                <span class="tw-text-neutral-granit tw-text-md">{{ change.occurred_at | seconds2Time }}</span>
              </div>
            </div>

            <mat-panel-description [ngClass]="{ expanded: panel.expanded }">
              <mat-icon
                [ngClass]="{
                  'tw-opacity-0': notExpandable[change.change_type] || !change.has_additional_data,
                }"
              >
                expand_more
              </mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="tw-grid tw-gap-2" [attr.data-cy]="change.id + '-event-details'">
            <div class="sm:tw-hidden tw-flex tw-items-center tw-gap-2">
              <div
                class="tw-bg-white tw-px-2 tw-py-1.5 tw-text-neutral-graphite tw-text-xs tw-rounded tw-flex tw-gap-2"
              >
                {{
                  change.initiator.type !== initiatorType.UKLON_MANAGER
                    ? (change.initiator.display_name | uppercase)
                    : ('DriverHistory.Roles.UklonManager' | translate)
                }}

                @if (change.initiator.type !== initiatorType.UKLON_MANAGER) {
                  <span>|</span>

                  <span class="tw-text-neutral-granit tw-text-xs">
                    {{ change.initiator.type ? ('DriverHistory.Roles.' + change.initiator.type | translate) : '-' }}
                  </span>
                }
              </div>
            </div>

            @if (additionalInfo.get(change.id); as info$) {
              @if (info$ | async; as info) {
                <upf-vehicle-history-details [info]="info"></upf-vehicle-history-details>
              } @else {
                <upf-progress-spinner class="!tw-justify-start !tw-bg-neutral-silver !tw-h-auto"></upf-progress-spinner>
              }
            }
          </div>
        </mat-expansion-panel>
      }

      @if (isLoading) {
        <upf-progress-spinner></upf-progress-spinner>
      }
    </mat-accordion>
  } @else {
    <upf-empty-state [state]="emptyState.NO_DATA"></upf-empty-state>
  }
}
