<div class="sm:tw-shadow-sm tw-rounded">
  <mat-accordion displayMode="flat" class="tw-grid tw-gap-2 sm:tw-block">
    <div class="panel-header main">
      <div data-cy="header-vehicle-license-plate">
        {{ 'VehicleBrandingPeriod.TicketsList.LicensePlate' | translate }}
      </div>
      <div data-cy="header-vehicle-model">{{ 'VehicleBrandingPeriod.TicketsList.Vehicle' | translate }}</div>
      <div data-cy="header-vehicle-deadline">{{ 'VehicleBrandingPeriod.TicketsList.Deadline' | translate }}</div>
      <div data-cy="header-vehicle-ticket-status">{{ 'VehicleBrandingPeriod.TicketsList.Status' | translate }}</div>
      <div data-cy="header-vehicle-upload-video" class="tw-flex tw-items-center tw-gap-2">
        {{ 'VehicleBrandingPeriod.TicketsList.UploadVideo' | translate }}
        <mat-icon
          class="outlined icon-size-md"
          ngxTippy="{{
            'VehicleBrandingPeriod.Tooltips.FileRequirements'
              | translate: { extensions: allowedExtensions, size: maxSizeMb }
          }}"
        >
          info
        </mat-icon>
      </div>
    </div>

    @for (item of tickets(); track item.id) {
      <mat-expansion-panel #panel hideToggle class="data-panel">
        <mat-expansion-panel-header
          class="!tw-p-0 !tw-py-2 tw-cursor-default hover:!tw-bg-white"
          expandedHeight="56px"
          collapsedHeight="56px"
          [attr.data-cy]="'panel-item-' + $index"
        >
          <ng-container
            [ngTemplateOutlet]="isMobileView() ? mobileViewPanelHeader : desktopViewPanelHeader"
            [ngTemplateOutletContext]="{ $implicit: item, expanded: panel.expanded }"
          ></ng-container>
        </mat-expansion-panel-header>

        @if (isMobileView() && (item.status === ticketStatus.DRAFT || item.status === ticketStatus.CLARIFICATION)) {
          <ng-container
            [ngTemplateOutlet]="expandedViewMobileTpl"
            [ngTemplateOutletContext]="{ $implicit: item }"
          ></ng-container>
        }
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>

<ng-template #mobileViewPanelHeader let-ticket let-expanded="expanded">
  <div class="mobile-panel-header">
    <div class="tw-grid tw-gap-1">
      <a
        [routerLink]="['/', corePaths.WORKSPACE, corePaths.VEHICLES, vehiclePaths.DETAILS, ticket.vehicle_id]"
        class="tw-font-medium hover:sm:tw-underline tw-w-fit tw-flex tw-items-end tw-gap-1.5"
      >
        <span>{{ ticket.license_plate }}</span>
      </a>

      <div class="tw-flex tw-gap-0.5">
        <div class="tw-text-sm">{{ ticket.make }} {{ ticket.model }}</div>
        <div class="tw-text-sm tw-text-neutral-granit" data-cy="item-vehicle-color-year">
          • {{ ticket.color }} • {{ ticket.production_year }}
        </div>
      </div>
    </div>

    <div class="tw-flex tw-flex-col tw-items-end">
      <div class="tw-flex tw-items-center tw-gap-0.5">
        @if (
          (ticket.status === ticketStatus.REJECTED || ticket.status === ticketStatus.CLARIFICATION) &&
          ticket.reject_or_clarification_reason
        ) {
          <mat-icon
            class="outlined tw-text-icon !tw-flex tw-items-center"
            [ngxTippy]="ticketReasonTpl"
            [tippyContext]="{
              data: { status: ticket.status, reason: ticket.reject_or_clarification_reason },
            }"
          >
            info
          </mat-icon>
        }

        <upf-status-badge [color]="statusColor[ticket.status]">
          {{ 'VehicleBrandingPeriod.TicketStatus.' + ticket.status | translate }}
        </upf-status-badge>
      </div>

      @if (ticket.status | showDeadline: ticket.deadline_to_send) {
        @let deadline = ticket.deadline_to_send | photoControlDeadlineMessage;

        <div
          class="tw-text-label tw-text-neutral-granit tw-whitespace-nowrap"
          [class.!tw-text-accent-coral-light]="deadline.passedDeadline"
        >
          @if (deadline.passedDeadline) {
            ({{ 'PhotoControl.Panel.Expired' | translate }})
          } @else {
            <span class="text-uppercase-first-letter">
              {{ 'PhotoControl.Panel.DaysRemaining' | translate }}: {{ deadline.days }}
            </span>
          }
        </div>
      }
    </div>

    @if (ticket.status === ticketStatus.DRAFT || ticket.status === ticketStatus.CLARIFICATION) {
      <div class="expand-icon" [class.expanded]="expanded">
        <mat-icon>expand_more</mat-icon>
      </div>
    }
  </div>
</ng-template>

<ng-template #expandedViewMobileTpl let-ticket>
  @let deadline = ticket.deadline_to_send | photoControlDeadlineMessage;

  <div class="expanded-view">
    <div class="tw-text-sm tw-text-neutral-granit">{{ 'VehicleBrandingPeriod.TicketsList.Deadline' | translate }}</div>
    <div class="tw-text-base">
      @if (ticket.status | showDeadline: ticket.deadline_to_send) {
        <div class="tw-flex tw-gap-1">
          @if (deadline.passedDeadline) {
            <span class="tw-text-accent-coral-light text-uppercase-first-letter">
              {{ 'PhotoControl.Panel.Expired' | translate }}
            </span>
          } @else {
            <span>{{ 'PhotoControl.Panel.Till' | translate }} {{ deadline.till }}</span>
            <span>({{ 'PhotoControl.Panel.DaysRemaining' | translate }}: {{ deadline.days }})</span>
          }
        </div>
      } @else {
        <span class="tw-text-neutral-graphite">-</span>
      }
    </div>

    @if (
      (ticket.status === ticketStatus.DRAFT && !deadline.passedDeadline) || ticket.status === ticketStatus.CLARIFICATION
    ) {
      <mat-divider></mat-divider>

      <a
        class="tw-text-base tw-text-accent-mint-light tw-flex tw-items-center tw-gap-2.5 tw-py-1"
        [routerLink]="[ticket.vehicle_id, vehiclePaths.BRANDING_PERIOD_CONTROL, ticket.id]"
        [queryParams]="{ monthlyCode: monthlyCode() }"
      >
        <mat-icon class="!tw-w-4 !tw-h-4 tw-text-tmp tw-leading-4">open_in_new</mat-icon>
        <span class="tw-leading-4">
          {{ 'VehicleBrandingPeriod.VehicleBrandingReviewButton' | translate }}
        </span>
      </a>
    }
  </div>
</ng-template>

<ng-template #desktopViewPanelHeader let-ticket>
  @let deadline = ticket.deadline_to_send | photoControlDeadlineMessage;

  <div class="panel-header" data-cy="item-vehicle-license-plate-link">
    <a
      [routerLink]="['/', corePaths.WORKSPACE, corePaths.VEHICLES, vehiclePaths.DETAILS, ticket.vehicle_id]"
      class="tw-font-medium hover:sm:tw-underline tw-w-fit tw-flex tw-items-end tw-gap-1.5"
    >
      <span>{{ ticket.license_plate }}</span>
    </a>

    <div>
      <div data-cy="item-vehicle-make-model">{{ ticket.make }} {{ ticket.model }}</div>
      <div class="tw-text-sm tw-text-neutral-granit" data-cy="item-vehicle-color-year">
        {{ ticket.color }} • {{ ticket.production_year }}
      </div>
    </div>

    <div data-cy="item-vehicle-deadline">
      @if (ticket.status | showDeadline: ticket.deadline_to_send) {
        <div class="tw-grid">
          <span>{{ 'PhotoControl.Panel.Till' | translate }}: {{ deadline.till }}</span>

          @if (deadline.passedDeadline) {
            <span class="tw-text-accent-coral-light tw-text-sm">({{ 'PhotoControl.Panel.Expired' | translate }})</span>
          } @else {
            <span class="tw-text-neutral-granit tw-text-sm">
              ({{ 'PhotoControl.Panel.DaysRemaining' | translate }}: {{ deadline.days }})
            </span>
          }
        </div>
      } @else {
        <span class="tw-text-neutral-graphite">-</span>
      }
    </div>

    <div class="tw-flex tw-items-center tw-gap-3">
      <upf-status-badge [color]="statusColor[ticket.status]" data-cy="item-vehicle-ticket-status">
        {{ 'VehicleBrandingPeriod.TicketStatus.' + ticket.status | translate }}
      </upf-status-badge>

      @if (
        (ticket.status === ticketStatus.REJECTED || ticket.status === ticketStatus.CLARIFICATION) &&
        ticket.reject_or_clarification_reason
      ) {
        <mat-icon
          data-cy="item-vehicle-ticket-reason-icon"
          class="outlined tw-text-icon !tw-flex tw-items-center"
          [ngxTippy]="ticketReasonTpl"
          [tippyContext]="{
            data: { status: ticket.status, reason: ticket.reject_or_clarification_reason },
          }"
        >
          info
        </mat-icon>
      }
    </div>

    <div class="tw-flex tw-items-center" data-cy="item-vehicle-branding-upload">
      @if (
        (ticket.status === ticketStatus.DRAFT && !deadline.passedDeadline) ||
        ticket.status === ticketStatus.CLARIFICATION
      ) {
        <upf-vehicle-branding-period-list-upload
          [ticket]="ticket"
          [uploadState]="uploadMap.get(ticket.id)"
          [allowedExtensions]="allowedExtensions"
          [maxSizeMb]="maxSizeMb"
          (fileChange)="onFileSelect($event)"
          (cancelUpload)="onCancelUpload($event)"
          data-cy="item-vehicle-branding-upload-state"
        ></upf-vehicle-branding-period-list-upload>
      } @else if (ticket.status !== ticketStatus.DRAFT && ticket.status !== ticketStatus.REJECTED) {
        <div class="tw-flex tw-items-center tw-gap-2 tw-text-neutral-graphite" data-cy="item-vehicle-branding-sent">
          {{ 'VehicleBrandingPeriod.TicketStatus.Sent' | translate }}
          <mat-icon class="outlined icon-size-md">check_circle</mat-icon>
        </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #ticketReasonTpl let-data="data">
  <div data-cy="item-vehicle-ticket-reason-tooltip">
    @if (data.status === ticketStatus.CLARIFICATION) {
      {{ 'Common.Tickets.Reason' | translate }}:
      {{ 'VehicleBrandingPeriod.ClarificationReason.' + data.reason | translate }}
    }

    @if (data.status === ticketStatus.REJECTED) {
      {{ 'Common.Tickets.Reason' | translate }}:
      {{ 'VehicleBrandingPeriod.RejectionReason.' + data.reason | translate }}
    }
  </div>
</ng-template>
