<upf-filters-container
  direction="row"
  [filterKey]="filterKey"
  [filterSubKey]="driverId"
  [expandable]="false"
  [defaultFilters]="filtersForm.getRawValue()"
  (filtersChange)="onFiltersChange($event.changeType)"
  class="tw-p-md"
>
  <form [formGroup]="filtersForm">
    <mat-form-field floatLabel="always" class="tw-w-full sm:tw-w-64" data-cy="history-type-control">
      <mat-label>{{ 'DriverHistory.EventType' | translate }}</mat-label>

      <mat-select formControlName="changeType">
        <mat-option value="" data-cy="history-type-option-all">
          {{ 'DriverHistory.ChangeType.All' | translate }}
        </mat-option>

        @for (type of changeType | keyvalue; track type) {
          <mat-option [value]="type.value" [attr.data-cy]="'history-type-option-' + type.key">
            {{ 'DriverHistory.ChangeType.' + type.value | translate }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</upf-filters-container>

@if (history$ | async; as history) {
  @if (history && history?.length) {
    <mat-accordion (cdkScrolled)="onLoadNext()">
      <div class="grid-header tw-sticky tw-top-0 tw-bg-white tw-z-10">
        <div data-cy="header-event-type">
          {{ 'DriverHistory.EventType' | translate }}
        </div>

        <div class="tw-hidden sm:tw-grid" data-cy="header-role">
          <span>{{ 'DriverHistory.Role' | translate }}</span>
          <span class="tw-text-neutral-granit">{{ 'DriverHistory.Author' | translate }}</span>
        </div>

        <div data-cy="header-date">
          {{ 'DriverHistory.OccurrenceDate' | translate }}
        </div>
      </div>

      @for (change of history; track trackById($index, change)) {
        <mat-expansion-panel
          [disabled]="notExpandable[change.change_type] || !change.has_additional_data"
          (opened)="getFullInfo(change.change_type, change.id, change.has_additional_data)"
          #panel
          hideToggle
          class="!tw-shadow-none !tw-rounded-none !tw-m-0 tw-border-b tw-border-b-neutral-cloud"
          [attr.data-cy]="'history-event-panel-' + change.change_type + '-' + $index"
        >
          <mat-expansion-panel-header collapsedHeight="56px" expandedHeight="56px" class="!tw-pl-md !tw-pr-0">
            <div class="grid-header panel-header">
              <div class="tw-grid tw-gap-1">
                <span
                  [attr.data-cy]="'cell-' + change.change_type + '-' + $index"
                  [ngClass]="{
                    'tw-text-accent-coral-light': change.change_type === changeType.BLOCKED,
                    'tw-text-accent-mint-light': change.change_type === changeType.UNBLOCKED,
                  }"
                >
                  {{ 'DriverHistory.ChangeType.' + change.change_type | translate }}
                </span>
                @if (!notExpandable[change.change_type] && !change.has_additional_data) {
                  <span
                    class="tw-text-neutral-granit tw-text-md"
                    [attr.data-cy]="'cell-no-data-' + change.change_type + '-' + $index"
                  >
                    {{ 'DriverHistory.NoAdditionalData' | translate }}
                  </span>
                }
              </div>

              <div class="tw-hidden sm:tw-grid tw-gap-1">
                <span [attr.data-cy]="'cell-role-' + $index">
                  {{ change.initiator.type ? ('DriverHistory.Roles.' + change.initiator.type | translate) : '-' }}
                </span>

                @if (change.initiator.type !== initiatorType.UKLON_MANAGER) {
                  <span class="tw-text-neutral-granit tw-text-md" [attr.data-cy]="'cell-email-' + $index">
                    {{ change.initiator.display_name }}
                  </span>
                }
              </div>

              <div class="tw-grid tw-gap-1">
                <span [attr.data-cy]="'cell-date-' + $index">
                  {{ change.occurred_at | seconds2Date }}
                </span>
                <span [attr.data-cy]="'cell-time-' + $index" class="tw-text-neutral-granit tw-text-md">
                  {{ change.occurred_at | seconds2Time }}
                </span>
              </div>
            </div>

            <mat-panel-description [ngClass]="{ expanded: panel.expanded }">
              <mat-icon
                [ngClass]="{
                  'tw-opacity-0': notExpandable[change.change_type] || !change.has_additional_data,
                }"
                [attr.data-cy]="'cell-toggle-' + $index"
              >
                expand_more
              </mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="tw-grid tw-gap-2">
            <div class="sm:tw-hidden tw-flex tw-items-center tw-gap-2">
              <div
                class="tw-bg-white tw-px-2 tw-py-1.5 tw-text-neutral-graphite tw-text-xs tw-rounded tw-flex tw-gap-2"
              >
                {{
                  change.initiator.type !== initiatorType.UKLON_MANAGER
                    ? (change.initiator.display_name | uppercase)
                    : ('DriverHistory.Roles.UklonManager' | translate)
                }}

                @if (change.initiator.type !== initiatorType.UKLON_MANAGER) {
                  <span>|</span>

                  <span class="tw-text-neutral-granit tw-text-xs">
                    {{ change.initiator.type ? ('DriverHistory.Roles.' + change.initiator.type | translate) : '-' }}
                  </span>
                }
              </div>
            </div>

            @if (additionalInfo.get(change.id); as info$) {
              @if (info$ | async; as info) {
                <upf-driver-history-details
                  [info]="info"
                  data-cy="history-additional-info"
                ></upf-driver-history-details>
              } @else {
                <upf-progress-spinner class="!tw-justify-start !tw-bg-neutral-silver !tw-h-auto"></upf-progress-spinner>
              }
            }
          </div>
        </mat-expansion-panel>
      }

      @if (isLoading) {
        <upf-progress-spinner></upf-progress-spinner>
      }
    </mat-accordion>
  } @else {
    <upf-empty-state [state]="emptyState.NO_DATA"></upf-empty-state>
  }
}
