@if (params$ | async; as params) {
  <ng-container *upfLet="params['method'] as userAuthMethod">
    <section class="tw-grid tw-gap-md sm:tw-gap-2">
      <div class="tw-flex tw-items-center tw-gap-md back-btn-container">
        <a color="accent" mat-flat-button routerLink="/" class="small tw-w-fit !tw-px-3 md:!tw-px-md">
          <mat-icon class="tw-shrink-0 !tw-m-0 md:!tw-mr-2">arrow_back</mat-icon>

          <span class="tw-hidden sm:tw-block">
            {{ 'Common.Buttons.B_Back' | translate }}
          </span>
        </a>

        <div class="title">{{ 'Auth.Login.Entrance' | translate }}</div>
      </div>

      <div class="subtitle" data-cy="login-title">
        {{
          userAuthMethod === authMethod.SMS
            ? ('Auth.Login.EnterOTC' | translate: { phone: loginForm.value.contact })
            : ('Auth.Login.EnterPassword' | translate)
        }}
      </div>
    </section>

    <form class="tw-grid" [formGroup]="loginForm">
      @if (userAuthMethod === authMethod.SMS) {
        @defer (when userAuthMethod === authMethod.SMS) {
          <upf-login-otc (resendCode)="onResendCode(params['reset'])"></upf-login-otc>
        }
      } @else {
        <mat-form-field color="primary" appearance="outline" subscriptSizing="fixed">
          <mat-label>
            {{ 'Auth.Login.PasswordLabel' | translate }}
          </mat-label>

          <input matInput type="password" data-cy="password" formControlName="password" autocomplete="on" #password />

          <mat-icon matIconSuffix (click)="togglePasswordFieldVisibility(password); $event.stopPropagation()">
            {{ password.type === 'text' ? 'visibility' : 'visibility_off' }}
          </mat-icon>

          @if (loginForm.hasError('invalidCredentials')) {
            <mat-error data-cy="credential-error">
              {{ 'Auth.Login.CredentialError' | translate }}
            </mat-error>
          }

          @if (loginForm.get('password')?.hasError('maxlength')) {
            <mat-error>
              {{ 'Auth.Login.PasswordMaxLength' | translate }}
            </mat-error>
          }

          @if (loginForm.hasError('unhandledError')) {
            <mat-error>
              {{ 'Auth.Login.ServerError' | translate }}
            </mat-error>
          }
        </mat-form-field>
      }

      <div class="tw-flex tw-flex-col tw-gap-md">
        @if (userAuthMethod === authMethod.PASSWORD) {
          <div class="tw-flex tw-justify-end tw-mb-1">
            <a class="forgot-password" data-cy="password-recovery-link" (click)="onResetPassword()">
              {{ 'Auth.Login.PasswordRecoveryLink' | translate }}
            </a>
          </div>
        }

        <div
          data-cy="policy-info"
          class="tw-text-neutral-granit tw-text-sm tw-leading-[14px] tw-order-2 sm:tw-order-1"
          [innerHTML]="'Auth.Login.PublicOfferAndPrivacyPolicy' | translate"
          (click)="handlePrivacyPolicyClick($event)"
        ></div>

        <upf-loader-button
          *upfLet="loadingLogin$ | async as loading"
          class="tw-order-1 sm:tw-order-2"
          color="primary"
          dataCY="login-btn"
          type="button"
          [disabled]="loginForm.invalid"
          [loading]="loading"
          (handlerClick)="login(loading)"
        >
          {{ 'Common.Buttons.Authenticate' | translate }}
        </upf-loader-button>
      </div>
    </form>
  </ng-container>
}
