<div class="tw-p-md tw-text-neutral-graphite tw-grid tw-gap-3">
  <section class="tw-flex tw-items-center tw-justify-between">
    <div class="tw-text-dialogTitle">
      {{
        (userAuthMethod === authMethod.PASSWORD ? 'Auth.ResetPassword.Title' : 'Auth.ResetPassword.CreateTitle')
          | translate
      }}
    </div>

    <button mat-icon-button (click)="onCloseDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </section>

  <section class="tw-grid tw-gap-md">
    <div class="tw-text-base tw-text-neutral-granit">
      {{ 'Auth.ResetPassword.Subtitle' | translate }}
    </div>

    <div>
      <upf-reset-password
        #resetPassword
        (controlValidityChange)="onChangePasswordFormControlValidityChange($event)"
      ></upf-reset-password>

      <div class="tw-flex tw-justify-between">
        <button type="button" mat-flat-button color="accent" (click)="onCloseDialog()">
          {{ 'Common.Buttons.B_Cancel' | translate }}
        </button>

        <button
          mat-flat-button
          color="primary"
          [disabled]="resetPassword.passwordForm.invalid"
          (click)="onChangePassword(resetPassword.passwordForm.value.newPassword)"
        >
          {{
            (userAuthMethod === authMethod.PASSWORD ? 'Auth.ResetPassword.SaveBtn' : 'Auth.ResetPassword.CreateSaveBtn')
              | translate
          }}
        </button>
      </div>
    </div>
  </section>
</div>
