<div class="theme-{{ theme }} tw-grid tw-grid-cols-3 sm:tw-grid-cols-6 tw-gap-y-4 tw-gap-x-1.5 sm:tw-gap-x-4">
  @for (item of commissions; track $index) {
    <div>
      <div class="tw-flex tw-flex-row tw-items-center tw-gap-1 sm:tw-gap-2">
        @if (stepCompleted(item, $last)) {
          <mat-icon class="tw-text-accent-mint-light" svgIcon="i-circle-completed-inactive"></mat-icon>
        }

        @if (stepInProgress(item, $last)) {
          <mat-icon class="icon-completed" svgIcon="i-circle-completed"></mat-icon>
        }

        @if (stepNotStarted(item)) {
          <mat-icon svgIcon="i-circle-process" class="outlined"></mat-icon>
        }

        <div class="tw-flex tw-flex-col tw-gap-1">
          <span class="tw-text-[16px]" [class.tw-text-neutral-granit]="stepNotStarted(item)">
            {{ item.value * 100 }}%
          </span>

          <span class="tw-text-sm tw-text-neutral-granit">
            {{ item.order_completed_count_range.from }} + {{ 'Bonuses.VehicleList.Program.Orders' | translate }}
          </span>
        </div>
      </div>
    </div>
  }
</div>
