<cdk-table
  [dataSource]="ticketsList"
  class="flt-table flt-shadowless tw-mb-cell-1 sm:tw-mb-0"
  data-cy="vehicle-tickets-list"
>
  <ng-container cdkColumnDef="LicensePlate" sticky>
    <cdk-header-cell *cdkHeaderCellDef class="flt-table-cell sm:tw-col-span-3" data-cy="th-license-plate">
      <div class="tw-flex tw-items-center">
        <span class="tw-text-md tw-text-neutral-smoke">
          {{ 'Vehicles.Tickets.List.LicensePlate' | translate }}
        </span>
      </div>
    </cdk-header-cell>

    <cdk-cell
      *cdkCellDef="let ticket"
      class="flt-table-cell--visible flt-table-cell tw-col-span-5 sm:tw-col-span-3"
      data-cy="td-license-plate"
    >
      <!-- Desktop -->
      <div class="tw-hidden tw-flex-col tw-justify-center sm:tw-flex">
        @if (ticket.license_plate) {
          <a [routerLink]="[vehiclePath.TICKET, ticket.id]" class="tw-font-medium hover:tw-underline">
            {{ ticket.license_plate }}
          </a>
        } @else {
          <span class="tw-text-neutral-granit">{{ 'Vehicles.Tickets.List.LicensePlateAbsent' | translate }}</span>
        }
      </div>
      <!-- / Desktop -->

      <!-- Mobile -->
      <div class="tw-flex tw-flex-col tw-justify-center tw-gap-2 sm:tw-hidden">
        <div class="tw-flex tw-items-center">
          @if (ticket.license_plate) {
            <a [routerLink]="[vehiclePath.TICKET, ticket.id]" class="tw-font-medium hover:tw-underline">
              {{ ticket.license_plate }}
            </a>
          } @else {
            <a
              class="tw-flex tw-items-center tw-text-accent-mint-light tw-text-base tw-gap-2"
              [routerLink]="[vehiclePath.TICKET, ticket.id]"
            >
              <mat-icon class="tw-text-tmp !tw-w-5 !tw-h-5 !tw-leading-5">open_in_new</mat-icon>
              <span class="tw-text-neutral-granit tw-min-w-max">
                {{ 'Vehicles.Tickets.List.LicensePlateAbsentMobile' | translate }}
              </span>
            </a>
          }

          @if (ticket.status === ticketStatusRef.DRAFT) {
            <button
              data-cy="vehicle-ticket-delete-btn-mobile"
              mat-icon-button
              class="burger__menu-btn"
              [matMenuTriggerFor]="deleteTicketMenu"
              [matMenuTriggerData]="{ ticketId: ticket.id, dataCy: 'vehicle-ticket-delete-item-btn' }"
            >
              <mat-icon class="tw-text-neutral-smoke burger__menu-icon">more_vert</mat-icon>
            </button>
          }
        </div>

        <div class="tw-flex tw-gap-0.5 tw-items-center tw-text-sm" data-cy="td-license-plate-make">
          {{ ticket.make }}
        </div>
      </div>
      <!-- / Mobile -->
    </cdk-cell>
  </ng-container>

  <mat-menu #deleteTicketMenu class="auto-height tw-top-md -tw-right-2" xPosition="before">
    <ng-template matMenuContent let-ticketId="ticketId" let-dataCy="dataCy">
      <button mat-menu-item [attr.data-cy]="dataCy" (click)="onDeleteTicketClick($event, ticketId)">
        <div class="tw-flex tw-items-center tw-justify-between tw-gap-md">
          <span class="tw-text-base tw-text-accent-coral-light">
            {{ 'Vehicles.Tickets.List.RemoveTicket' | translate }}
          </span>

          <mat-icon class="outlined ticket-delete-icon">delete</mat-icon>
        </div>
      </button>
    </ng-template>
  </mat-menu>

  <ng-container cdkColumnDef="Date">
    <cdk-header-cell *cdkHeaderCellDef class="flt-table-cell sm:tw-col-span-4" data-cy="th-created-at">
      <div class="tw-flex tw-items-center">
        <span class="tw-text-md tw-text-neutral-smoke">
          {{ 'Vehicles.Tickets.List.AddedDate' | translate }}
        </span>
      </div>
    </cdk-header-cell>

    <cdk-cell
      *cdkCellDef="let ticket"
      class="flt-table-cell--visible flt-table-cell tw-col-span-7 sm:tw-col-span-4"
      data-cy="td-created-at"
    >
      <!-- Desktop -->
      <div class="tw-hidden sm:tw-flex tw-flex-col tw-justify-center">
        {{ ticket.created_at | seconds2Date }}
      </div>
      <!-- / Desktop -->

      <!-- Mobile -->
      <div class="tw-flex tw-flex-col tw-justify-center tw-items-end tw-gap-1 sm:tw-hidden">
        <div class="tw-flex tw-flex-col tw-justify-center tw-text-neutral-granit tw-text-sm">
          {{ ticket.created_at | seconds2Date }}
        </div>

        <div class="tw-flex tw-items-center" data-cy="td-status-mobile">
          <upf-status-badge class="tw-whitespace-nowrap" [color]="statusColorMap[ticket.status]">
            {{ 'Vehicles.Creation.VehicleTicketStatus.' + ticket.status | translate }}
          </upf-status-badge>
        </div>
      </div>
      <!-- / Mobile -->
    </cdk-cell>
  </ng-container>

  <ng-container cdkColumnDef="Status">
    <cdk-header-cell *cdkHeaderCellDef class="flt-table-cell sm:tw-col-span-4" data-cy="th-status">
      <div class="tw-flex tw-items-center">
        <span class="tw-text-md tw-text-neutral-smoke">
          {{ 'Vehicles.Tickets.List.Status' | translate }}
        </span>
      </div>
    </cdk-header-cell>

    <cdk-cell *cdkCellDef="let ticket" class="flt-table-cell tw-col-span-6 sm:tw-col-span-4" data-cy="td-status">
      <div class="tw-flex tw-items-center">
        <upf-status-badge [color]="statusColorMap[ticket.status]">
          {{ 'Vehicles.Creation.VehicleTicketStatus.' + ticket.status | translate }}
        </upf-status-badge>
      </div>
    </cdk-cell>
  </ng-container>

  <ng-container cdkColumnDef="Deletion">
    <cdk-header-cell *cdkHeaderCellDef data-cy="th-deletion"></cdk-header-cell>

    <cdk-cell
      *cdkCellDef="let ticket"
      class="flt-table-cell tw-col-span-6 tw-hidden sm:tw-col-span-1 sm:tw-justify-end"
      data-cy="td-deletion"
    >
      <div class="tw-flex tw-items-center">
        <a
          class="tw-flex tw-items-center tw-text-accent-mint-light tw-text-base tw-gap-2"
          [routerLink]="[vehiclePath.TICKET, ticket.id]"
        >
          <mat-icon class="tw-text-tmp">open_in_new</mat-icon>
        </a>

        @if (ticket.status === ticketStatusRef.DRAFT) {
          <button
            class="delete-btn"
            data-cy="vehicle-ticket-delete-btn"
            mat-icon-button
            (click)="onDeleteTicketClick($event, ticket.id)"
          >
            <mat-icon class="outlined">delete</mat-icon>
          </button>
        } @else {
          <div class="tw-w-9"></div>
        }
      </div>
    </cdk-cell>
  </ng-container>

  <cdk-header-row
    *cdkHeaderRowDef="columnsToDisplay; sticky: true"
    class="flt-table-row flt-table-header-row !tw-static"
    data-cy="vehicle-tickets-header-row"
  ></cdk-header-row>

  <cdk-row
    *cdkRowDef="let ticket; let index = index; columns: columnsToDisplay"
    [ngClass]="selection.isSelected(index) ? 'flt-table-row--opened' : 'flt-table-row--closed'"
    class="flt-table-row"
    data-cy="vehicle-tickets-item-row"
  ></cdk-row>
</cdk-table>

<upf-pagination class="upf-pagination" [totalCount]="vehiclesTicketsListTotalCount"></upf-pagination>
