<div class="header">
  <div class="tw-hidden sm:tw-flex tw-text-xl tw-font-normal">
    {{ 'BlockedList.ProfileBlocked' | translate }}
  </div>
</div>

<div class="content">
  <div class="tw-flex tw-flex-col tw-items-center">
    <img src="/assets/images/fleet-blocked.png" class="tw-hidden sm:tw-flex" alt="fleet blocked" />

    <img src="/assets/images/fleet-blocked-mobile.png" class="tw-flex sm:tw-hidden" alt="fleet blocked" />

    <div class="content__description">
      {{ 'BlockedList.AccessDenied' | translate }}
    </div>
  </div>
</div>
