@use "functions" as f;

:host {
  display: flex;
  flex-direction: column;
  padding: f.px2rem(16);
  padding-top: 0;
}

.mat-mdc-dialog-title {
  margin: f.px2rem(-5) 0 f.px2rem(6);

  h3 {
    margin: 0;
  }

  .mat-icon {
    @apply tw-text-neutral-graphite;
  }
}

.mat-divider {
  margin: 0 f.px2rem(-16);
  @apply tw-text-neutral-silver;
}

.mat-mdc-dialog-content {
  display: flex;
  margin: 0;
  padding: 0;

  .mat-icon {
    width: f.px2rem(100);
    height: auto;
    @apply tw-text-neutral-granit;
  }
}

.mat-mdc-dialog-actions {
  margin: 0;
  padding: f.px2rem(16) 0 0;
}
