<div class="panel-container">
  <section class="panel-header" (click)="togglePanelOpened(panelType.DRIVER_DETAILS)">
    <div class="tw-flex tw-gap-md tw-items-center tw-w-full">
      <button
        mat-icon-button
        (click)="onGoBack()"
        class="back-btn tw-self-end sm:tw-self-start"
        data-cy="map-driver-panel-back-btn"
      >
        <mat-icon class="tw-text-tmp">arrow_back</mat-icon>
      </button>

      <div class="panel-info">
        <div class="data">
          <a
            (click)="$event.stopPropagation()"
            class="tw-shrink-0"
            data-cy="map-driver-panel-avatar"
            [routerLink]="['/', path.WORKSPACE, path.COURIERS, driverPath.DETAILS, employee.id]"
          >
            @if (employee?.photos['courier_avatar_photo']; as avatar) {
              <img upfDefaultImgSrc [src]="avatar.url" [defaultSrc]="avatar.fallback_url" class="avatar" alt="avatar" />
            }
          </a>

          <div class="details" data-cy="map-driver-panel-info">
            <span>
              <a [routerLink]="['/', path.WORKSPACE, path.COURIERS, driverPath.DETAILS, employee.id]">
                {{ employee.last_name }} {{ employee.first_name }}
              </a>
            </span>

            <small>{{ employee.phone }}</small>
          </div>
        </div>

        <div class="tw-flex tw-items-center tw-gap-2 tw-shrink-0">
          <upf-status-badge [color]="driverStatusStyling[employee.status]" data-cy="map-driver-panel-status">
            {{ 'LiveMap.DriverStatus.' + employee.status | translate }}
          </upf-status-badge>

          <mat-icon class="expand-btn" [ngClass]="{ opened: isOpened }" data-cy="map-driver-panel-toggle">
            expand_more
          </mat-icon>
        </div>
      </div>
    </div>
  </section>

  @if (isOpened) {
    <section class="panel-content" data-cy="map-driver-panel-body">
      <mat-divider class="!tw-mt-2.5 !tw-mb-md max-sm:!tw-hidden"></mat-divider>

      <div class="tw-flex tw-text-base tw-gap-md tw-items-baseline" data-cy="map-driver-panel-location">
        <div class="tw-text-neutral-granit">
          {{ 'LiveMap.LocationTitle' | translate }}
        </div>

        <div>
          {{ currentAddress?.street || ('LiveMap.UnknownGeolocation' | translate) }}
        </div>
      </div>

      <mat-divider class="!tw-mb-2.5 !tw-mt-md sm:!tw-hidden"></mat-divider>

      @if (orders?.length && isMobileView) {
        <div class="tw-grid tw-gap-md">
          @for (order of orders; track order) {
            <div
              [@growVertical]
              (click)="onSelectRoute(order)"
              class="tw-p-md tw-shadow-sm tw-rounded-lg tw-grid tw-gap-md"
            >
              <div class="tw-flex tw-items-center tw-w-full tw-justify-between">
                <ng-container *upfLet="order.status | titlecase as orderStatus">
                  <upf-status-badge [color]="orderStatusStyling[orderStatus]">
                    {{ 'LiveMap.ActiveOrderStatus.' + orderStatus | translate }}
                  </upf-status-badge>
                </ng-container>

                <div class="tw-flex tw-items-center tw-gap-md">
                  <div class="tw-text-neutral-granit tw-text-base">
                    {{ order.pickup_time | seconds2Date }}
                    {{ order.pickup_time | seconds2Time }}
                  </div>

                  <button mat-icon-button disableRipple class="!tw-w-6 !tw-h-6 !tw-leading-6">
                    <mat-icon>chevron_right</mat-icon>
                  </button>
                </div>
              </div>

              <upf-map-route [routePoints]="order.route.route_points"></upf-map-route>
            </div>
          }
        </div>

        <mat-divider class="!tw-my-md"></mat-divider>
      }
    </section>
  }
</div>

@if (orders?.length && !isMobileView && isOpened) {
  <mat-accordion class="tw-grid tw-gap-2 tw-p-0.5 max-sm:tw-hidden">
    @for (order of orders; track order.order_id) {
      <mat-expansion-panel
        #panel
        [expanded]="$first || openedPanels[order.order_id]"
        (opened)="onSelectRoute(order)"
        (closed)="onClosePanel(order.order_id)"
        (afterCollapse)="onResetRoute()"
        class="!tw-rounded-lg tw-w-full"
        [ngClass]="{
          '!tw-shadow-[0_0_0_2px] !tw-shadow-accent-mint-light': panel.expanded,
        }"
      >
        <mat-expansion-panel-header expandedHeight="56px" collapsedHeight="56px" class="!tw-p-md tw-gap-md">
          <div class="tw-flex tw-items-center tw-w-full tw-justify-between">
            <ng-container *upfLet="order.status | titlecase as orderStatus">
              <upf-status-badge [color]="orderStatusStyling[orderStatus]">
                {{ 'LiveMap.ActiveOrderStatus.' + orderStatus | translate }}
              </upf-status-badge>
            </ng-container>

            <div class="tw-text-neutral-granit tw-text-base">
              {{ order.pickup_time | seconds2Date }}
              {{ order.pickup_time | seconds2Time }}
            </div>
          </div>
        </mat-expansion-panel-header>

        <div class="tw-grid tw-gap-md">
          <upf-map-route [routePoints]="order.route.route_points"></upf-map-route>

          <upf-map-route-details
            [order]="order"
            [isDelivery]="true"
            (navigateToOrder)="onNavigateToDelivery()"
          ></upf-map-route-details>
        </div>
      </mat-expansion-panel>
    }
  </mat-accordion>
}
