@use "functions" as f;
@use "mixins" as m;
@use 'variables' as v;

.photos {
  width: 100%;
  margin-top: 1rem;

  &__sub-title {
    @include m.set-font(f.px2rem(16), f.px2rem(18), 400, var(--grey20-color));
    padding: 1rem 0;
  }

  upf-photo-card {
    height: f.px2rem(184);
    margin-bottom: f.px2rem(22);
  }
}

@media (min-width: v.$breakpoint-desktop-min) {
  .photos {
    upf-photo-card {
      min-height: 17vh;
    }
  }
}

@media (max-width: v.$breakpoint-mobile-max) {
  .photos {
    margin-top: 0;
    width: auto;

    upf-photo-card {
      height: f.px2rem(150);
    }
  }
}
