<div class="bonus-rules" data-cy="bonus-program-rules">
  <div class="bonus-rules-info">
    <div class="tw-flex tw-flex-row">
      <mat-icon class="outlined tw-text-icon tw-text-accent-blue-light !tw-contents">info</mat-icon>

      <div class="bonus-rules-item tw-ml-2 sm:tw-justify-around">
        <span class="tw-font-medium" data-cy="bonus-program-rules-title">
          {{ 'Bonuses.Program.Requirements.Title' | translate }}
        </span>
        <span data-cy="bonus-program-rules-subtitle">{{ 'Bonuses.Program.Requirements.Subtitle' | translate }}</span>
      </div>
    </div>

    <mat-icon
      class="tw-cursor-pointer tw-self-start tw-flex sm:!tw-hidden"
      [class.tw-rotate-180]="open"
      (click)="toggleBrandingProgram()"
    >
      keyboard_arrow_down
    </mat-icon>
  </div>
  @if (open) {
    <div [@growVertical] class="bonus-rules-indicators">
      @if (currentCalculation?.brandingTypes?.length > 1) {
        <mat-form-field color="primary">
          <mat-label>{{ 'Bonuses.Program.BrandingType.Label' | translate }}</mat-label>

          <mat-select
            [formControl]="brandingTypeControl"
            [compareWith]="compareBrandingTypeFn"
            (selectionChange)="brandingTypeChange($event.value)"
            (openedChange)="toggleBrandingTypeSelect($event)"
          >
            @for (item of currentCalculation.brandingTypes; track $index) {
              @if (item.types.length > 0) {
                <mat-option [value]="item.calculation_id" class="select-item">
                  {{ item.types | translateItems: 'Bonuses.Program.BrandingType.Options.' }}
                </mat-option>
              } @else {
                <mat-option [value]="item.calculation_id">
                  {{ 'Bonuses.Program.BrandingType.Options.All' | translate }}
                </mat-option>
              }
            }
          </mat-select>
        </mat-form-field>
      } @else {
        <div class="bonus-rules-item">
          <span class="bonus-rules-title">{{ 'Bonuses.Program.BrandingType.Label' | translate }}</span>
          <span class="bonus-rules-value">
            @if (currentCalculation?.branding_types?.length > 0) {
              {{ currentCalculation?.branding_types ?? [] | translateItems: 'Bonuses.Program.BrandingType.Options.' }}
            } @else {
              {{ 'Bonuses.Program.BrandingType.Options.All' | translate }}
            }
          </span>
        </div>
      }

      @if (specification.rating.last?.[0]?.range?.length) {
        <div class="bonus-rules-item">
          <span class="bonus-rules-title" data-cy="bonus-program-rules-rating">
            {{ 'Bonuses.Program.Rating.Title' | translate }}
          </span>
          <span class="bonus-rules-value">
            {{ 'Bonuses.Program.Rating.From' | translate: { value: specification.rating.last?.[0]?.range?.[0] } }}
          </span>
        </div>
      }

      @if (specification.orders.cancelled.percent?.[0]?.range?.length) {
        <div class="bonus-rules-item">
          <span class="bonus-rules-title" data-cy="bonus-program-rules-cancel-percentage">
            % {{ 'Bonuses.Program.CancellationPercentage' | translate }}
          </span>
          <span class="bonus-rules-value">
            {{
              'Bonuses.Program.Percent.To'
                | translate
                  : { value: (specification.orders.cancelled.percent?.[0]?.range?.[1] | number: '1.2-2') + '%' }
            }}
          </span>
        </div>
      }

      @if (specification.orders.completed.count?.length) {
        <div class="bonus-rules-item">
          <span class="bonus-rules-title" data-cy="bonus-program-rules-max-value">
            {{ 'Bonuses.Program.Maximum' | translate }}
          </span>
          <span class="bonus-rules-value">
            {{
              specification.orders.completed.count[specification.orders.completed.count?.length - 1]?.value
                | upfMoney: specification.currency
            }}
          </span>
        </div>
      }

      @if (currentCalculation?.period?.range?.length) {
        <div class="bonus-rules-item">
          <span class="bonus-rules-title" data-cy="bonus-program-rules-period">
            {{ 'Bonuses.Program.Period' | translate }}
          </span>
          <span class="bonus-rules-value">
            {{ currentCalculation.period?.range?.length ? (currentCalculation.period.range[0] | seconds2Date) : '-' }}
            -
            {{ currentCalculation.period?.range?.length ? (currentCalculation.period.range[1] | seconds2Date) : '-' }}
          </span>
        </div>
      }

      @if (specification.days?.length) {
        <div class="bonus-rules-item">
          <span class="bonus-rules-title" data-cy="bonus-program-rules-days">
            {{ 'Bonuses.Program.Days' | translate }}
          </span>
          <span class="bonus-rules-value">
            @for (day of specification.days; track $index) {
              {{ 'Common.DaysShort.' + day | translate }}
            }
          </span>
        </div>
      }
    </div>
  }
</div>
