@mixin set-font($size, $line-height, $weight: null, $color: null) {
  font-size: $size;
  line-height: $line-height;

  @if $weight {
    font-weight: $weight;
  }

  @if $color {
    color: $color;
  }
}

@mixin custom-border($color: var(--grey60-color), $border-width: 0.5rem, $border-radius: 0.25rem) {
  border-color: $color;
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  border-radius: $border-radius;

  background-image: repeating-linear-gradient(
      0deg, $color, $color $border-width, transparent $border-width, transparent 1rem, $color $border-width * 2),
  repeating-linear-gradient(
      90deg, $color, $color $border-width, transparent $border-width, transparent 1rem, $color $border-width * 2),
  repeating-linear-gradient(
      180deg, $color, $color $border-width, transparent $border-width, transparent 1rem, $color $border-width * 2),
  repeating-linear-gradient(
      270deg, $color, $color $border-width, transparent $border-width, transparent 1rem, $color $border-width * 2);
}

@mixin icon-button($btn-size: 36px, $icon-size: 20px) {
  --upf-btn-icon-size: #{$btn-size};
  --upf-icon-size: #{$icon-size};
}

@mixin navigation-item($item-height: 56px, $transition-speed: 0.4s) {
  @apply tw-flex tw-items-center tw-relative tw-transition-colors tw-cursor-pointer;
  @apply tw-w-full tw-whitespace-nowrap tw-overflow-hidden tw-shrink-0;
  height: $item-height;

  .mat-icon {
    @apply tw-h-5 tw-w-5 tw-text-icon;
  }

  .menu-item-name {
    @apply tw-text-base tw-leading-5 tw-opacity-0;
    transition: opacity $transition-speed ease-in-out;
  }

  &.active {
    @apply tw-text-accent-mint-light tw-bg-neutral-carbon;

    &::after {
      content: '';
      @apply tw-block tw-absolute tw-right-0 tw-h-full tw-w-1 tw-bg-accent-mint-light;
    }
  }

  &.opened {
    .icon-container {
      padding-inline: 1rem !important;
    }

    .menu-item-name {
      @apply tw-opacity-100;
    }
  }

  &.disabled {
    @apply tw-pointer-events-none tw-text-neutral-smoke;
  }

  .icon-container {
    @apply tw-grid tw-place-content-center;
    @apply tw-px-6 tw-h-full tw-relative;
    transition: padding-inline $transition-speed ease-in-out;
  }
}
