@use "functions" as f;
@use "mixins" as m;

:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.infinity-scroll-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}

.infinity-scroll-list {
  flex-grow: 1;
  contain: initial;
  height: 100%;
}

.loading-state {
  @include m.set-font(f.px2rem(12), f.px2rem(14), 400, var(--grey50-color));
  position: absolute;
  background-color: var(--white-color);
  bottom: 0;
  left: 0;
  right: 0;
  height: f.px2rem(50);
  border-top: 1px solid #e0e0e0;

  .spinner {
    margin-right: 1rem;
  }
}
