{
  "account": {
    "default": {
      "username": "669243644",
      "password": "***HIDDEN***"
    },
    "empty": {
      "username": "444404404",
      "password": "***HIDDEN***"
    },
    "notification_owner": {
      "username": "559658978",
      "password": "***HIDDEN***"
    },
    "notification_manager": {
      "username": "556248759",
      "password": "***HIDDEN***"
    },
    "merchant": {
      "username": "752365874",
      "password": "***HIDDEN***"
    },
    "private_driver": {
      "username": "506232659",
      "password": "***HIDDEN***"
    },
    "global_partner_moderator": {
      "phone": "380553265899",
      "password": "***HIDDEN***"
    }
  },
  "qase": {
    "projectCode": "PPB",
    "testRun": {
      "name": "Partner Fleets",
      "autoClose": true,
      "suiteIds": [950, 951, 952, 953, 954]
    }
  }
}
