<upf-filters-container
  class="tw-w-full"
  direction="row"
  [isOpened]="!isMobileView"
  [filterKey]="filterKey"
  [defaultFilters]="couriersFiltersForm.getRawValue()"
  (filtersReset)="sendAnalytics(eventType.LIVE_MAP_FILTERS_CLEARED, 'wholeForm')"
  (filtersChange)="filtersChange.emit($event)"
>
  <form [formGroup]="couriersFiltersForm">
    <mat-form-field class="tw-w-full" floatLabel="always" data-cy="map-filter-name">
      <mat-label>
        {{ 'Common.Filters.Name.Caption' | translate }}
      </mat-label>

      <input
        #name
        matInput
        type="text"
        formControlName="name"
        (focus)="sendAnalytics(eventType.LIVE_MAP_FOCUS_SEARCH_INPUT, 'name')"
        placeholder="{{ 'Common.Filters.Name.Placeholder' | translate }}"
      />

      @if (name.value) {
        <mat-icon matIconSuffix (click)="$event.stopPropagation(); onResetFilters()" class="tw-text-neutral-smoke">
          close
        </mat-icon>
      } @else {
        <mat-icon [svgIcon]="icons.search" matSuffix></mat-icon>
      }
    </mat-form-field>
  </form>
</upf-filters-container>
