:host {
  ::ng-deep {
    .mat-expansion-panel-content {
      @apply tw-bg-neutral-silver;
    }

    .mat-expansion-panel-body {
      @apply tw-p-2;
    }
  }
}

.panel-header {
  @apply tw-text-base tw-grid tw-gap-md tw-items-center tw-w-full;
  @apply tw-px-md tw-text-neutral-graphite tw-cursor-default;
  grid-template-columns:
    repeat(2, minmax(0, 2fr))
    minmax(0, 3fr)
    minmax(0, 2fr)
    repeat(2, minmax(0, 1fr))
    20px;

  &.main {
    @apply tw-text-sm tw-text-neutral-smoke tw-h-12;
  }
}

.mobile-panel-header {
  @apply tw-grid tw-gap-2 tw-pl-2 tw-items-center tw-w-full tw-h-14;
  @apply tw-text-base tw-text-neutral-graphite;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) 36px;
}

.delivery-panel {
  border-radius: 0.25rem !important;
  @apply tw-shadow-sm #{!important};

  @screen sm {
    border-radius: 0 !important;
    @apply tw-shadow-none #{!important};
    @apply tw-border-t tw-border-neutral-cloud;

    &:last-of-type {
      @apply tw-border-b tw-border-b-neutral-cloud;
    }
  }
}

.expanded-view {
  @apply tw-text-neutral-graphite tw-grid tw-gap-x-4 tw-gap-y-2;
  grid-template-columns: auto auto auto;

  .title {
    @apply tw-text-xs tw-text-neutral-granit;
  }
}

.expand-icon {
  @apply tw-grid tw-place-items-center tw-h-full;

  .mat-icon {
    @apply tw-transition-transform
  }

  &.expanded {
    @apply tw-bg-neutral-silver;

    .mat-icon {
      @apply tw-rotate-180;
    }
  }
}
