<div class="tw-flex tw-flex-col tw-items-center tw-gap-md sm:tw-flex-row">
  <div class="tw-flex tw-items-center tw-gap-md tw-w-full tw-justify-between sm:tw-w-fit">
    <div class="tw-flex tw-gap-2 sm:tw-gap-md">
      <div class="tw-flex">
        <div class="tw-hidden sm:tw-flex tw-self-center">
          @if (balance > 0) {
            <mat-icon [svgIcon]="icons.financePositive" class="flt-balance-icon"></mat-icon>
          }
          @if (balance < 0) {
            <mat-icon [svgIcon]="icons.financeNegative" class="flt-balance-icon"></mat-icon>
          }
          @if (!balance) {
            <mat-icon [svgIcon]="icons.financeNeutral" class="flt-balance-icon"></mat-icon>
          }
        </div>
      </div>

      <div class="tw-flex tw-flex-col tw-gap-2 tw-col-span-6">
        <span class="tw-text-base tw-text-neutral-carbon" [attr.data-cy]="'fleet-balance-title'">
          {{ 'FleetWalletInfo.Title' | translate }}
        </span>

        <span
          [ngClass]="{ negative: wallet?.balance?.amount < 0 }"
          class="tw-text-money tw-font-medium tw-text-neutral-graphite"
          [attr.data-cy]="'fleet-balance'"
        >
          {{ wallet?.balance?.amount / 100 || 0 | upfMoney: wallet?.balance?.currency : 'without-plus' }}
        </span>
      </div>
    </div>

    @if (showButton) {
      <div class="tw-flex tw-flex-col tw-justify-center tw-items-end sm:tw-items-start">
        <div [ngxTippy]="canWithdraw ? null : (tooltip | translate)" (click)="reportDisabledClick()">
          <button mat-flat-button [disabled]="!canWithdraw" (click)="handleWithdrawClick()" color="primary">
            {{ 'FleetWalletInfo.Buttons.Withdrawal' | translate }}
          </button>
        </div>
      </div>
    }
  </div>

  <div class="tw-flex tw-flex-col tw-gap-md tw-w-full sm:tw-w-fit sm:tw-flex-row">
    <ng-content></ng-content>
  </div>
</div>
